#body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgb(99, 99, 99);
   height: 100%;
   width: 100%;
}

#search {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 2%;
   margin-bottom: 5%;
   gap: 10px;
}

#routeing{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 5%;

}