body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #669966;
   
}

#search {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 2%;
   margin-bottom: 5%;
   gap: 10px;
}


#logo {
   height: 12rem;
   width: 28rem;
   border-radius: 50px;
}

h1 {
   font-family: "Roboto", sans-serif;
   color: white;
}

p {
   font-family: "Roboto", sans-serif;
}

.custom-font {
   font-family: "Roboto", sans-serif;
}

li {
   padding: 20px;
}

.lead {
   font-family: serif;
   font-size: 1.2em;
}