body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #669966;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: white 2px solid;
  width: 90%;
}

#overview{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.tabels{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 5rem;
  width: 15rem;
  border-radius: 50px;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: black;
}

h1 {
  font-family: "Roboto", serif;
  font-weight: bold;
}

h2 {
  font-family: "Roboto", serif;
  font-weight: bold;
}

p {
  font-family: "Roboto", sans-serif;
}


table {
  width: 100%;
  border-collapse: collapse; 
  font-family: 'Roboto', sans-serif;
}


td, th {
  border: 1px solid white;
  text-align: left;
  padding: 8px;
}


th {
  background-color: rgba(211, 211, 211, 0.822);
}

