body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #669966;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: white 2px solid;
  width: 90%;
}

label {
  font-family: "Roboto", sans-serif;
  }
  
.hidden {
  display: none;
}

.visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin-bottom: 5%;
  margin-top: 5%;
  gap: 10px;
  width: 90%;
}



#search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
 
}

#myform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin-bottom: 5%;
  margin-top: 5%;
  gap: 10px;
  margin: 5%;
}

#vehiclediv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin-bottom: 5%;
  margin-top: 5%;
  gap: 10px;
}

#steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
  
}

#logo {
  height: 5rem;
  width: 15rem;
  border-radius: 50px;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: black;
}

h1 {
  font-family: "Roboto", serif;
  font-weight: bold;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: white;
}

p {
  font-family: "Roboto", sans-serif;
  
}

.custom-font {
  font-family: "Roboto", sans-serif;
  text-align: center;

}

li {
  padding: 20px;
}

.lead {
  font-family: serif;
  font-size: 1.2em;
}
